<div class="dateSelectors" style="z-index: 1000;">
  <select name="year" id="year">
    <option value="" disabled selected></option>
    {{#each years}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <select name="month" id="month">
    <option value="" disabled selected></option>
    {{#each months}}
    <option value="{{@index}}">{{this}}</option>
    {{/each}}
  </select>
  <select name="date" id="date">
    <option value="" disabled selected></option>
    {{#each dates}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <span class="time-text">&nbsp;/&nbsp;</span>
  <select name="hour" id="hour">
    <option value="" disabled selected></option>
    {{#each hours}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <span class="time-text">:</span>
  <select name="minute" id="minute">
    <option value="" disabled selected></option>
    {{#each minutes}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
</div>
