{{#if dateValid}}
<div class="seconds">
  {{ seconds }}
</div>
<div class="info">
  <p>
    seconds since {{ fromDate }}
  </p>
  <div>
    <small>
      Your 1st billionth second {{ billionthSecondDay.tense }} on {{ billionthSecondDay.date }}
    </small>
  </div>
  <div>
    <small>
      Your 2nd billionth second {{ twoBillionthSecondDay.tense }} on {{ twoBillionthSecondDay.date }}
    </small>
  </div>
</div>
{{else}}
<h2 class="info">Oops. Invalid Date</h2>
{{/if}}
